<!doctype html>
<html>
<head>
<!--<link rel="stylesheet" href="/css/main.css">-->
<link rel="stylesheet" href="css/cssbox.css">
<title>{{ title }}</title>
</head>

<body>
{{ content }}
</body>
</html>
